In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import chromedriver_autoinstaller

In [2]:
chromedriver_autoinstaller.install()

browser = webdriver.Chrome()

In [72]:
browser.get('https://www.olx.co.id/jakarta-selatan_g4000030/motor-bekas_c200')

In [73]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [74]:
rows = soup.find_all('div', class_='fTZT3')

In [75]:
len(rows)

162

In [76]:
data = []
for row in rows:
    harga = row.find(class_='_2Ks63').text
    tahun = row.find(class_='YBbhy').text
    jenis_brand = row.find(class_='_2poNJ').text
    lokasi = row.find(class_='_2VQu4').text
    
    dt = {
        'harga': harga,
        'tahun': tahun,
        'jenis_brand': jenis_brand,
        'lokasi': lokasi
    }
    
    data.append(dt)

In [77]:
df1 = pd.DataFrame(data)

In [78]:
df1

,harga,tahun,jenis_brand,lokasi
0,Rp 16.900.000,2019,(serbu DP 800 angsrn 800an guys) Lexi 2019 cas...,"Kebayoran Lama, Jakarta Selatan"
1,Rp 12.000.000,2014,Vixion GP Livery,"Cilandak, Jakarta Selatan"
2,Rp 41.000.000,2022,Di jual cepat Vespa LX 125 2022,"Pesanggrahan, Jakarta Selatan"
3,Rp 950.000.000,2022,BMW GS 1250 K51 TROPHY adventure,"Cilandak, Jakarta Selatan"
4,Rp 28.000.000,2022,PROMO !!YAMAHA XSR 2022 . FREE SERVICE+GANT...,"Pasar Minggu, Jakarta Selatan"
...,...,...,...,...
157,Rp 16.900.000,2022,BLN 3 HONDA BEAT CBS 2023 SPT BARU BISA TT 202...,"Cilandak, Jakarta Selatan"
158,Rp 8.580.000,2012,Honda beat fi Gress tahun 2012 siap pakai,"Cilandak, Jakarta Selatan"
159,Rp 12.860.000,2019,Yamaha freego Gress tahun 2019 mulus original,"Cilandak, Jakarta Selatan"
160,Rp 27.000.000,2021,Seperti Baru! YAMAHA NEW NMAX 155 NON ABS 2021...,"Kebayoran Lama, Jakarta Selatan"
161,Rp 17.500.000,2018,Honda Vario 150 KEYLES 2018,"Kebayoran Lama, Jakarta Selatan"

In [50]:
browser.get('https://www.olx.co.id/jakarta-selatan_g4000030/handphone_c208')

In [67]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [68]:
rows = soup.find_all('div', class_='fTZT3')

In [69]:
data_2 = []
for row in rows:
    harga_2 = row.find(class_='_2Ks63').text
    jenis_brand_2 = row.find(class_='_2poNJ').text
    lokasi_2 = row.find(class_='_2VQu4').text
    
    dt_2 = {
        'harga': harga_2,
        'tahun': None,
        'jenis_brand': jenis_brand_2,
        'lokasi': lokasi_2
    }
    
    data_2.append(dt_2)

In [70]:
df2 = pd.DataFrame(data_2)

In [71]:
df2

,harga,tahun,jenis_brand,lokasi
0,Rp 9.000.000,None,"Google pixel 7a, baru beli tanggal 31 mei","Cilandak, Jakarta Selatan"
1,Rp 25.000.000,None,Dicari bayar cash iphone 12 13 14 pro max s22 ...,"Mampang Prapatan, Jakarta Selatan"
2,Rp 4.800.000,None,Dijual Iphone 11 Purple 64GB Terdaftar Kemenpr...,"Kebayoran Lama, Jakarta Selatan"
3,Rp 19.000.000,None,Di beli iphone 12 13 pro max 14 siap cod,"Cilandak, Jakarta Selatan"
4,Rp 4.000.000,None,Iphone 11 64GB Purple,"Cilandak, Jakarta Selatan"
...,...,...,...,...
114,Rp 4.500.000,None,"Jual cepet, negoin aja","Kebayoran Lama, Jakarta Selatan"
115,Rp 13.900.000,None,iPhone 12 Pro Max 256gb iBox mulus,"Cilandak, Jakarta Selatan"
116,Rp 1.300.000,None,Oppo a31 ram 6/128 Fullset Mulus Nomines,"Mampang Prapatan, Jakarta Selatan"
117,Rp 1.200.000,None,Vivo y20s[G] 4/128,"Pesanggrahan, Jakarta Selatan"
118,Rp 16.000.000,None,iPhone 13 Pro Max 128gb iBox mulus,"Cilandak, Jakarta Selatan"

In [81]:
gabung = df1.append(df2)

C:\Users\JUWITA\AppData\Local\Temp\ipykernel_14516\2765353702.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gabung = df1.append(df2)

In [82]:
gabung

,harga,tahun,jenis_brand,lokasi
0,Rp 16.900.000,2019,(serbu DP 800 angsrn 800an guys) Lexi 2019 cas...,"Kebayoran Lama, Jakarta Selatan"
1,Rp 12.000.000,2014,Vixion GP Livery,"Cilandak, Jakarta Selatan"
2,Rp 41.000.000,2022,Di jual cepat Vespa LX 125 2022,"Pesanggrahan, Jakarta Selatan"
3,Rp 950.000.000,2022,BMW GS 1250 K51 TROPHY adventure,"Cilandak, Jakarta Selatan"
4,Rp 28.000.000,2022,PROMO !!YAMAHA XSR 2022 . FREE SERVICE+GANT...,"Pasar Minggu, Jakarta Selatan"
...,...,...,...,...
114,Rp 4.500.000,None,"Jual cepet, negoin aja","Kebayoran Lama, Jakarta Selatan"
115,Rp 13.900.000,None,iPhone 12 Pro Max 256gb iBox mulus,"Cilandak, Jakarta Selatan"
116,Rp 1.300.000,None,Oppo a31 ram 6/128 Fullset Mulus Nomines,"Mampang Prapatan, Jakarta Selatan"
117,Rp 1.200.000,None,Vivo y20s[G] 4/128,"Pesanggrahan, Jakarta Selatan"
118,Rp 16.000.000,None,iPhone 13 Pro Max 128gb iBox mulus,"Cilandak, Jakarta Selatan"

In [83]:
nama_file = 'data_crawling_Olx.csv'

gabung.to_csv(nama_file, index=False)